
p{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-weight: 400;
}

.pozadi{
    border-radius :20px;
    --ion-background-color: #3B9A5C ;
    --color: #3B9A5C ;
  }

  .pismo{
    --color: white ;
    color: white;
  }