<ion-header>
  <ion-toolbar>
    <ion-title>ToDo</ion-title>
    <ion-buttons slot = "start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-item lines = "none">
      <ion-label>
        ToDo
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <!--iterace let itemů todolistu-->
<ion-card  *ngFor="let item of todoList ;  let i =index" class="ion-margin" >
  <ion-card-header>
    <ion-card-subtitle >
      {{item.itemCategory}}
    </ion-card-subtitle>

    <ion-item>
    
      <ion-label>{{item.value.itemName}}</ion-label>
    </ion-item>
  </ion-card-header>



<ion-row>
  <ion-item button (click)="delete(item.key)">
    <ion-icon name="trash-outline"></ion-icon>
    <p>Odstranit</p>
  </ion-item>
</ion-row>
</ion-card>

<!--pridani floating buttonu-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button (click) ="addTask()">
  <ion-icon name="add"></ion-icon>
  
</ion-fab-button>
</ion-fab>
</ion-content>