  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Pocasi
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
<ion-card>
  <ion-item lines="none">
    <p>Dnes </p>
    <!--Datepipe, přidání češtiny-->
    <ion-label slot="end">{{dnesniDen | date: "EEE dd MMM YYYY" : 'cs'}} </ion-label>
 
  </ion-item>
  <ion-item>
<span>
      <!--Json odpoved = temp, pridani do stupnu celsia-->
      {{(teplota.temp - 273.15).toFixed(0)}}
</span>
  </ion-item>
</ion-card>
  </ion-content>
