  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Pocasi
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
<ion-card>
  <ion-item lines="none">
    <p>Dnes </p>
    <!--Datepipe, přidání češtiny-->
    <ion-label slot="end">{{dnesniDen | date: "EEE dd MMM YYYY" : 'cs'}} </ion-label>
 
  </ion-item>
  <ion-item>
<span>
      <!--Json odpoved = temp, pridani do stupnu celsia-->
      {{(teplota?.temp - 273.15).toFixed(0)}}
</span>
<span>°C</span>
<!--Nejdou mi nacist zadne obrazky, vyresim nakonec, prozatim vyreseno univerzalni ikonou-->
<img slot="end" [src]=pocasiIkona > 
<ion-icon slot= "end" name="cloud"></ion-icon> 
  </ion-item>
  <ion-item>
    <ion-icon name="location"></ion-icon> 
    <span>{{mesto}}</span>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <span>Pocitová teplota</span>
  </ion-item>
  <ion-item>
  <span> Maximální teplota</span>
  </ion-item>
</ion-card>
  </ion-content>
